<h2>New Author</h2>
<form action="/authors" method="POST" value="<%= searchOptions.name%>">
	<%- include('_form_fields') %>
	<br>
	<a href="/authors">Cancel</a>           
	<button type="submit">Create</button>   
</form>